
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img class="foto" src="../../assets/eleazar.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Eleazar Gonzalez Sanjuan</p>
          <p class="subtitle is-6">gzlz.eleazar@gmail.com</p>
        </div>
      </div>
  
      <div class="content">
        <p>Soy egresado del Instituto Tecnológico de Tlaxiaco de la carrera de Ingeneria en Sistemas Computacionales del 2015 a 2020. </p>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2022</time>
      </div>
    </div>
 
