<div class="row">
    <div class="col-12 col-md-4">
        <img class="card-img-top" [src]="proyecto[0].img" [alt]="proyecto[0].nombre">
        <h2>{{ proyecto[0].nombre }}</h2>
        <div>
            <a target="_blank" [href]="proyecto[0].url" class="btn btn-warning w-100">Visitar Aplicación</a>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <h2>Descripción</h2>
        <hr/>
        <p>
            {{ proyecto[0].descripcion }}
        </p>
        <h2>Tecnologias</h2>
        <hr/>
        <div class="list-group">
            <span class="list-group-item list-group-item-action" *ngFor="let tecnologia of proyecto[0].tecnologias">{{ tecnologia }}</span>
        </div>
        <button (click)="goProyectos()" class="btn btn-info w-100 my-3" >volver a Proyectos</button>
    </div>
</div>


